@import "../../breakpoints";

.page-login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  header {
    border-bottom: none;
    box-shadow: none;
  }

  .workspace-content {
    margin-top: -4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login-content {
    max-width: 28rem;
    margin: 0 auto;

    @include breakpoint(medium) {
      min-width: 28rem;
    }

    .MuiAlert-root {
      border-radius: 0;
    }
  }

  .login-footer {
    margin: 2rem auto;
    text-align: center;
  }
}
