@import "../workspace/breakpoints";

form {
  .form-field {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .field-fullWidth {
    & > * {
      width: 100%;
    }
  }

  .actions {
    margin: 1.5rem 0 0 0;
    @include breakpoint("small") {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    & > button {
      width: 100%;
      margin-bottom: 1rem;
      @include breakpoint("small") {
        width: unset;
        margin-bottom: 0;
      }
    }

  }
}
