@import "../../workspace/constants";

.file-upload {
  padding: 1rem;

  .file-upload-area {
    position: relative;
    margin: 1rem 0;
    border-radius: 4px;
    border: 2px dashed $light-grey;
    padding: 2rem;
    text-align: center;
    color: $light-grey;
    cursor: pointer;

    input[type='file'] {
      position: absolute;
      left: -100vw;
      visibility: hidden;
    }

    &.drag-over {
      background-color: #fff;
    }

    span {
      color: $dark-grey;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

