@import "../../workspace/constants";
@import "../../workspace/breakpoints";

.activity-detail {
  margin-top: 2rem;
  padding: 1rem;

  .grid {
    display: block;
    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: 50% 50%;
    }

    & > div {
      margin-bottom: 2rem;
      padding-top: 1rem;
      border-top: 1px solid $light-grey;
      &:first-child {
        border-top: none;
        @include breakpoint(medium) {
          border-right: 1px solid $light-grey;
          padding-left: 0;
          padding-right: 1rem;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }

      @include breakpoint(medium) {
        padding: 0 0 0 1rem;
        border-top: none;
        margin-bottom: 0;
      }
    }
  }

  .summary-stats {
    ul {
      list-style: none;
      padding-left: 0;

      li {
        display: inline-block;
        padding: 0 2rem 0 0;
      }
    }
  }

  .detail-stats {
    thead td {
      font-weight: bold;
    }
    td {
      padding: 0 1rem;
      padding-bottom: 0.5rem;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}
