@import "../../workspace/constants";
@import '../../workspace/breakpoints';

.summary-card {
  margin-bottom: 1.5rem;
  border-radius: 0;
  cursor: pointer;

  @include breakpoint('small') {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .card-image {
    background-color: $light-grey;
    padding-top: 56.25%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .card-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    .date {
      font-size: 0.8rem;
    }
    h3 {
      font-size: 1.2rem;
    }
  }

  .summary-stats {
    ul {
      list-style: none;
      padding-left: 0;
      transform: scaleY(0.5);
      li {
        display: inline-block;
        padding: 0 1rem;
        border-left: 1px solid $light-grey;

        &:first-child {
          padding-left: 0;
          border-left: none;
        }
        &:last-child {
          padding-right: 0;
        }
      }
      .summary-stat {
        transform: scaleY(2);
      }
    }
  }
}

