@import "../../workspace/constants";
@import "../../workspace/breakpoints";

.Nav.NavBar {
    display: flex;
    flex: 1 0 auto;
    align-items: flex-end;
    ul {
      list-style: none;
      padding: 0 1rem;

      li {
        display: inline-block;
      }
      .nav-item > a {
        padding: 0.8rem 1rem;
        text-decoration: none;
        color: $black;
        border-bottom: 3px solid transparent;
      }

      .nav-item.selected > a {
        border-bottom: 3px solid #000;
      }
    }
}

.Nav.NavMenu {
  ul {
    list-style: none;
    padding-left: 0;

    li.nav-item {
      border: 1px solid $light-grey;
      border-bottom: none;
      &:last-child {
        border-bottom: 1px solid $light-grey
      }
      & > a {
        display: block;
        padding: 0.8rem 1rem;
        text-decoration: none;
        color: $black;
      }
      &.selected {
        font-weight: bold;
      }
      &:first-child {
        border-radius: 4px 4px 0 0;
      }
      &:last-child {
        border-radius: 0 0 4px 4px;
      }
    }
  }
}
