@import "breakpoints";

.multi-page-content {
  display: block;
  @include breakpoint("medium") {
    display: grid;
    grid-template-columns: minmax(8rem, 12rem) auto;
    grid-column-gap: 1rem;
  }

  .page-nav {
    display: none;
    @include breakpoint("medium") {
      display: block;
    }
  }
}
