@import "./constants";
@import "breakpoints";

header {
  border-bottom: 1px solid $light-grey;
  box-shadow: 0px 3px 4px 0px rgba(180,180,180,0.15);

  .header-content {
    display: flex;
    @include contentWidth;
    min-height: 4rem;
    align-items: stretch;

    nav.NavBar {
      display: none;
      @include breakpoint("medium") {
        display: flex;
        flex: 1 1 0;
      }
    }
  }

  .header-section {
    min-width: 8rem;

    flex: 1 1 0;
    display: flex;
    align-items: center;

    @include breakpoint('medium') {
      min-width: 4rem;
      max-width: 12rem;
    }

    &:first-child {
      justify-content: flex-start;
    }
    &:last-child {
      justify-content: flex-end;
    }
  }
}

.workspace-content {
  @include contentWidth;
  flex: 1 1 auto;
}
