@import "../form";

.login {

  form {
    padding: 2rem;
  }

  .forgot-password {
    line-height: 2.25rem;
    font-size: 0.8rem;
  }

  .progress {
    visibility: hidden;
    &.visible {
      visibility: visible;
    }
  }
}
