@import "../../../breakpoints";

.workspace-content.page-upload {
  max-width: 80rem;

  .activity-detail {
    @include breakpoint('medium') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 20rem auto;
      grid-column-gap: 1rem;
    }

    .map {
      height: 25rem;
      @include breakpoint('medium') {
        grid-row: 1;
        grid-column: 2;
        height: auto;
      }
    }
    .fields {
      grid-row: 1;
      grid-column: 1;
    }
    .buttons {
      grid-row: 2;
      grid-column: 1/2;
    }
  }
}
